[alias]
	a = add
	b = branch -v
	bav = branch -av
	cp = cherry-pick
	cpx = cherry-pick -x
	ci = commit
	co = checkout
	cob = checkout -b
	cot = checkout --track
	d = diff
	dc = diff --cached
	# Remove branches that have already been merged with master
	# a.k.a. ‘delete merged’
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d; git remote -v update -p"
	f = fetch
	fa = fetch --all -p
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	last = log -1 HEAD
	lg = log --color --decorate --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an (%G?)>%Creset' --abbrev-commit
	m = merge
	mf = merge --ff-only
	s = status -sb
	st = status
	t = tag
	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v
[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix
[branch]
	autosetuprebase = always
[color]
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[commit]
	gpgsign = true
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[credential]
	helper = osxkeychain
[diff]
	# Detect copies as well as renames
	renames = copies
[github]
	user = conortm
[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1
[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true
[push]
	# change to maching for machines with older versions of git 1.x.x
	default = simple
[user]
	name = Conor McNamara
	email = conortm@gmail.com
	initials = CM
	signingkey = D97D3DD7935FDAAE
